services:
  chatify-api:
    image: vsupruniuk/chatify-api:local
    container_name: chatify-api
    build:
      context: .
    env_file:
      - .env.docker
    ports:
      - $PORT:$PORT
    volumes:
      - public_files:/usr/src/app
    depends_on:
      - chatify-api-database

  chatify-api-database:
    image: postgres:17.7-alpine
    container_name: chatify-api-database
    environment:
      POSTGRES_DB: $DATABASE_NAME
      POSTGRES_USER: $DATABASE_USERNAME
      POSTGRES_PASSWORD: $DATABASE_PASSWORD
    ports:
      - $DATABASE_PORT:$DATABASE_PORT
    volumes:
      - chatify_api_database_data:/var/lib/postgresql/data
    restart: on-failure

volumes:
  public_files:
  chatify_api_database_data:
