name: Pull requests CI

on:
  pull_request:

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 24.x ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env
        shell: bash
        run: |
          printf '%s\n' "${{ secrets.ENV }}" > .env

      - name: Load env variables
        shell: bash
        run: |
          sed -E '/^\s*($|#)/d' .env >> $GITHUB_ENV

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint:ci

      - name: Type check
        run: npm run type-check

      - name: Coverage tests
        run: npm run test:cov

      - name: Build
        run: npm run build

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  e2e-tests:
    name: e2e-tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 24.x ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env
        shell: bash
        run: |
          printf '%s\n' "${{ secrets.ENV }}" > .env

      - name: Load env variables
        shell: bash
        run: |
          sed -E '/^\s*($|#)/d' .env >> $GITHUB_ENV

      - name: Install dependencies
        run: npm ci

      - name: E2E test
        run: npm run test:e2e

