name: Docker image build and deploy

on:
  push:
    branches:
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DOCKERHUB_REPO_NAME: ${{ secrets.DOCKERHUB_REPO_NAME }}
      DOCKER_SCOUT_ENV: ${{ secrets.DOCKER_SCOUT_ENV }}
      DOCKER_SCOUT_ORGANIZATION: ${{ secrets.DOCKER_SCOUT_ORGANIZATION }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Extract release branch name
        id: release_version
        shell: bash
        run: |
          release_version="${GITHUB_REF##*/}"
          echo "release_version=${release_version}" >> $GITHUB_OUTPUT
          
          image="${{ env.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_REPO_NAME }}:${release_version}"
          echo "image=${image}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log into Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: docker.io
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ steps.release_version.outputs.image }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.release_version.outputs.image }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker Scout
        id: docker_scout
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.18.2
        with:
          command: compare
          organization: ${{ env.DOCKER_SCOUT_ORGANIZATION }}
          image: ${{ steps.release_version.outputs.image }}
          environment: ${{ env.DOCKER_SCOUT_ENV }}
          ignore-unchanged: false
          only-severities: critical,high,medium,low,unspecified
          github-token: ${{ secrets.GITHUB_TOKEN }}
