name: Docker image build and deploy

on:
  push:
    branches:
      - CTF-148-review-sonarcloud-analysis # TODO change to release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DOCKERHUB_REPO_NAME: ${{ secrets.DOCKERHUB_REPO_NAME }}
      DOCKER_SCOUT_ENV: ${{ secrets.DOCKER_SCOUT_ENV }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Extract release branch name
        id: release_version
        shell: bash
#        run: |
#          release_version="${GITHUB_REF#refs/heads/}"
#          echo "release_version=${release_version}" >> $GITHUB_OUTPUT
#
#          image="${{ env.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_REPO_NAME }}"
#          echo "image=${image}" >> $GITHUB_OUTPUT
        run: |
          release_version="release-v-1.3.1"
          echo "release_version=${release_version}" >> $GITHUB_OUTPUT
          
          image="${{ env.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_REPO_NAME }}:${release_version}"
          echo "image=${image}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Log into Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          registry: docker.io
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ steps.release_version.outputs.image }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.release_version.outputs.image }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker Scout
        id: docker_scout
        uses: docker/scout-action@v1.18.2
        with:
          command: compare
          image: ${{ steps.release_version.outputs.image }}
          to-env: ${{ env.DOCKER_SCOUT_ENV }}
          ignore-unchanged: false
          only-severities: critical,high,medium,low
          github-token: ${{ secrets.GITHUB_TOKEN }}
