name: Chatify API code delivery

on:
  pull_request:
    branches:
    - master
    - release/*
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - name: Extract branch name
      shell: bash
      id: extract_branch
      run: |
        if [[ "${GITHUB_REF}" == refs/pull/* ]]; then
          source_branch="${GITHUB_HEAD_REF}"
        else
          source_branch="${GITHUB_REF#refs/heads/}"
        fi
        echo "source_branch=$source_branch" >> $GITHUB_OUTPUT

    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build app
      run: npm run build --if-present

    - name: Run linter
      run: npm run lint
